{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheet%}
{% endblock %}

{% block body %}
	<h1>Mon Blog Personnel</h1>
	<p>Bienvenue à mon blog suvegardant des articles</p>
{% endblock %}
