{% extends 'base.html.twig' %}

{% block title %}Edit MotsCles{% endblock %}

{% block body %}
    <h1>Edit MotsCles</h1>

    {{ include('mots_cles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mots_cles_index') }}">back to list</a>

    {{ include('mots_cles/_delete_form.html.twig') }}
{% endblock %}
